/* Mobile Styles */
@media only screen and (max-width: 400px) {

  /* BANNER SECTION */

  .banner{
    height: 400px;
  }

  /* CONTENT SECTION */

  .content-box p{
    font-size: 8px;
    text-align: center;
  }


}




/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 1000px) {

  /* BANNER SECTION */

  .banner{
    height: 608px;
  }

  /* CONTENT SECTION */

  .content-box{
    min-height: 300px;
    min-width: 500px;
  }

  .content-box p{
    font-size: 10px;
    text-align: center;
  }

  #me-speech{
    margin-top: 15px;
  }

  /* ARTICLE SECTION */

  .article h1{
    margin: 30px;
  }

  #image-box-article2{
    height: 300px;
    width: 400px;
  }

  /* FOOTER SECTION */

  .horizontal-box{
    flex-wrap: wrap;
  }

  .footer-content{
    width: 250px;
    margin: 0 10px;
  }

  .footer1{
    display: none;
  }

}




/* Desktop Styles */
@media only screen and (min-width: 1001px) {

  /* BANNER SECTION */

  .banner{
    height: 825px;
  }

  /* CONTENT SECTION */

  .content-box{
    height: 500px;
    width: 700px;
  }

  .content-box p{
    font-size: 20px;
  }

  /* ARTICLE SECTION */

  .article h1{
    margin: 30px;
  }

  #image-box-article2{
    height: 400px;
    width: 500px;
  }

}
