/* Mobile Styles */
@media only screen and (max-width: 540px) {

  /* BANNER SECTION */

  .banner{
    height: 400px;
    background-image: url('../images/newyork-small.png');
  }

  .banner h1{
    font-size: 30px;
    bottom: 100px;
  }

  /* CONTENT SECTION */

  .content-box p{
    font-size: 15px;
    text-align: center;
  }

  #image-box-article1{
    height: 200px;
    width: 150px;
    margin-bottom: 20px;
  }

  #image-box-article2{
    height: 200px;
    width: 300px;
    margin-top: 20px;
  }

  /* PORTFOLIO SECTION */

  .project-item{
    /* border: 1px solid black; */
    height: 200px;
    width: 150px;
    margin: 10px;
  }

  /* FOOTER SECTION */

  .footer-content-container{
    flex-direction: column;
  }

  .footer1{
    display: none;
  }



}




/* Tablet Styles */
@media only screen and (min-width: 541px) and (max-width: 1000px) {

  /* BANNER SECTION */

  .banner{
    height: 608px;
    background-image: url('../images/newyork-medium.png');
  }

  .banner h1{
    font-size: 40px;
    bottom: 150px;
  }

  /* CONTENT SECTION */

  .content-box{
    height: auto;
    min-width: 500px;
    margin-bottom: 20px;
  }

  .content-box p{
    font-size: 15px;
    text-align: center;
  }

  /* ARTICLE SECTION */

  .article h1{
    margin: 30px;
  }

  #image-box-article1{
    height: 300px;
    width: 200px;
    margin-bottom: 15px;
  }

  #image-box-article2{
    height: 300px;
    width: 400px;
  }

  /* PORTFOLIO SECTION */

  .project-item{
    /* border: 1px solid black; */
    height: 200px;
    width: 150px;
    margin: 10px;
  }

  /* FOOTER SECTION */

  .horizontal-box{
    flex-wrap: wrap;
  }

  .footer-content{
    width: 250px;
    margin: 0 10px;
  }

  .footer1{
    display: none;
  }

}




/* Desktop Styles */
@media only screen and (min-width: 1001px) {

  /* BANNER SECTION */

  .banner{
    height: 825px;
    background-image: url('../images/newyork-large.png');
  }

  .banner h1{
    font-size: 60px;
    bottom: 170px;
  }

  /* CONTENT SECTION */

  .content-box{
    height: 500px;
    width: 700px;
  }

  .content-box p{
    font-size: 20px;
  }

  /* ARTICLE SECTION */

  .article h1{
    margin: 30px;
  }

  #image-box-article1{
    height: 300px;
    width: 200px;
  }

  #image-box-article2{
    height: 400px;
    width: 500px;
  }

  /* PORTFOLIO SECTION */

  .project-item{
    /* border: 1px solid black; */
    height: 250px;
    width: 200px;
    margin: 10px;
  }

}
