#portoflio-section-box > h1{
  margin-top: 60px;
}

.portfolio-box > h1{
  /* border: 1px solid black; */
  /* margin: auto; */
  margin-top: 55px;
}

.horizontal-box{
  /* border: 1px solid black; */
  /* min-width: 880px; */
  margin: auto 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.portfolio-box{
  text-align: center;
}

.portfolio-box h1{
  font-size: 20px;
}

.project-item{
  /* border: 1px solid black; */
  height: 250px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px #0367A6;
}
