#portoflio-section-box > h1{
  margin-top: 60px;
}

.portfolio-box > h1{
  /* border: 1px solid black; */
  /* margin: auto; */
  margin-top: 55px;
}

.horizontal-box{
  /* border: 1px solid black; */
  /* min-width: 880px; */
  margin: auto 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.portfolio-box{
  text-align: center;
}

.portfolio-box h1{
  font-size: 20px;
}

.project-item{
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px #0367A6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-project-item{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
}

.project-iframe{
  display: none;
  border: 2px solid #0367A6;
}

.description-project-item h4{
  margin-top: 5px;
}

.info-project-item{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills ul{
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills li{
  margin: 5px;
}




















....
