/* GENERAL SECTION */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Balsamiq Sans', cursive;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

/* BANNER SECTION */

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
  position: relative;
  line-height: 0.9;
}



/* NAVBAR SECTION */

nav{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: rgba(3, 103, 166, 1);
  z-index: 10;
}

.navbar-box{
  display: flex;
}

.navbar-box li{
  margin: 10px 15px;
  position: relative;
}

.navbar-box a{
  color: white;
}
.navbar-box a:hover{
  color: #000000;
}

.navbar-social-box{
  display: flex;
}

.navbar-social-box li{
  margin: auto 10px;
}


 .sub-menu{
  position: absolute;
  display: block;
  top: 100%;
  left: -25px;
  /* border: 2px solid #FFFFFF; */
  background-color: #0367A6;
  visibility: hidden;
  opacity: 0;
}

.navbar-box .has-children:hover .sub-menu{
  transition: .3s;
  visibility: visible;
  opacity: 1;
  top: 20px;
  display: block;
}

.sub-menu li{
  text-align: center;
  width: auto;
  font-size: 14px;
}


/* FOOTER SECTION */

footer{
  height: 500px;
  background-color: #0367A6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

}

footer h3{
  color: white;;
}

.footer-content-container{
  display: flex;
  min-height: 400px;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  justify-content: space-between;
}

.footer-content{
  /* border: 1px solid black; */
  width: 300px;
  text-align: center;
  margin: 0 40px;
}

.footer-content i{
  margin: 10px;
}

.footer-content li{
  margin: 10px;
}

.footer-content img{
  margin: 20px;
}

.copyright-section{
  margin: 10px;
}



/* FORM SECTION */

form{
  background-color: #2A5675;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.form-item{
  margin: 8px;
  border: 0;
  padding: 8px;
  outline: none;
  background: #f5f5f5;
}

.form-item::placeholder{
  text-align: center;

}

form h3{
  margin-top: 10px;
}

button{
  margin: 20px auto;
  background-color: #F28C0F;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
}

.send-button{
  width: 120px;
  height: 40px;
}
























































.....
