nav{
  position: inherit;
}

.book-content-section{
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid blue; */
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* YEARBOOK SECTION */

.yearbook-section{
  min-height: 200px;
  max-width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.yearbook{
  border: 1px solid black;
  border-radius: 20px;
  height: 50px;
  width: 200px;
  margin: 20px;
  background-color: rgba(3, 103, 166, 1);
}

.yearbook h2{
  text-align: center;
  color: white;
  margin-top: 7px;
}

/* QUTES SECTION */

.quotes-book{
  height: auto;
  max-width: 720px;
  margin: auto;
  margin-bottom: 40px;
}

.quotes-book p{
  text-align: center;
  width: auto;
  padding: 15px;
  border: 3px solid black;
  border-radius: 15px;
}

.quotes-book p:first-of-type {
  margin-top: 0px;
}

.quotes-book p b{
  color: #0367A6;
}


/* BOOK ITEM SECTION */

.book{
  /* border: 1px solid black; */
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px #0367A6;
  margin: 20px;
}

.content-book{
  /* border: 1px solid black; */
  display: flex;
  height: auto;
  margin: 10px;
}

.image-book{
  height: 80px;
  width: 80px;
  border-radius: 20px;
}

.description-book{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-book{
  /* border: 1px solid black; */
  height: 40px;
  text-align: center;
}

.title-book a:hover{
  color: #0367A6;
}

.description-book{
  width: auto;
  text-align: center;
}

.stars-book{
  /* border: 1px solid black; */
  margin-top: 20px;
  height: 20px;
}



/* BOOK COLOR CLASS */

.economy-img{
  background-image: url('../images/ECONOMY.png');
  background-size: cover;
}

.mindset-img{
  background-image: url('../images/MINDSET.png');
  background-size: cover;
}

.science-img{
  background-image: url('../images/SCIENCE.png');
  background-size: cover;
}

.story-img{
  background-image: url('../images/STORY.png');
  background-size: cover;
}

.travel-img{
  background-image: url('../images/TRAVEL.png');
  background-size: cover;
}


































..
